pipeline/PL_VLOOKUP.json
{
	"name": "PL_VLOOKUP",
	"properties": {
		"activities": [
			{
				"name": "Lookupccode",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText5",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtercode",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookupccode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupccode').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SIC_code,'1120')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}